.logo {
  color: whitesmoke;
  font-size: 60px;
  margin: 2px 50px;
  font-family: cursive;
}
.nav-list-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav-list-li {
  padding: 5px 22px;
  color: aliceblue;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid aliceblue;
  border-radius: 5px;
}
.nav-list-li:hover {
  font: bold;
  color: white;
  font-size: 30px;
}
