.skills-heading {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
  font-weight: bolder;
  color: darkblue;
  padding-top: 100px;
}
.sub-heading {
  font-size: 40px;
  text-decoration: underline;
  font-weight: bolder;
  text-align: center;
  color: rgb(42, 42, 139);
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.img-container > img,
.img-container > a > img {
  height: 200px;
  width: 200px;
  border: 2px solid;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(180deg, rgb(139, 233, 135), white);
  margin: 30px 10px;
}
.img-container > a > img {
  padding-bottom: 50px;
}
.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
